
.body{
    margin: 0;
}



#primero {
    height: 50vh;
    /*Imagen de fondo*/
    background-image: url(/Ejercicios_CSS/image/Malaga.jpeg) ;
    
    background-position:center bottom;

    background-repeat:no-repeat;

    background-size:contain;

    height: 50vh;

    /* Margenes*/
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom:10px;
    margin-left: 10px;
    margin: 20px;
    
    /*Bordes*/
    /*border bottom:seagreen;
    border-top: yellow;
    border-width: 5px;
    border-style: solid; */
    
    border: 5px solid seagreen;
    /*padding*/
    /*padding-left: 25px;
    padding-right: 100px;
    padding-top: 100px;*/
    padding: 100px 25px 50px 0px;
    
    display:none
}   


/* .empty {
    height: 1000px;
    background-color: red;

}

h1 {
    color: white;
} */


/* Tipos de display: none inline, block ,inline */

/* El signo ^ se utiliza para seleccionar todas las clases con el mismo nombre*/
[class^="box"] {

    background-color: steelblue;

}

.box0 {
    display:none;
}
.box3,
.box4,
.box3 p,
.box4 p{
    display:inline-block
}

 
.box5, /* selecciona el div box clase box 5 */
.box6, /* selecciona el div box clase box 6 */
.box5 p, /* selecciona el parrafo que está en el div con clase box5 */
.box6 p {
    display:inline;
}

.rectangle{
    background-color: teal;
    height: 50px;
    width: 25%;
}

/* Centrar horizontalmente (eje x) */
.x-centered{

    margin: auto;
}

/* Posición relativa*/
.pos-relative{
    position: relative;
    left:150px;
    top:-50px;
    z-index:-1;


}
 /*Posicion absoluta*/
.pos-absolute-parent{
    height: 300px;
    border: 15px solid tomato;
    position: relative;
}
.pos-absolute-child{
    height: 50px;
    width: 50px;
    background-color: blue;

    position:absolute;
    top:50%;
    right:50%;
    margin-left:-25px;
    margin-top:-25px;


}

/*Posicion Fix/Fija*/

.pos-fixed{
    background-color: #333;
    padding:20px 30px;

    position: fixed;
    bottom:30px;
    right:30px;
    z-index:1;
}

.pos-fixed a {
    color: white;
    text-decoration: none;
}

/*Posicion Sticky*/
.pos-sticky {
    background-color: steelblue;
    padding:15px 25px;

    position: sticky;
    top: 0;
}

.pos-sticky a{
    text-decoration: none;
    color: white;

}

/*Posicion Flotante*/
.pos-float-parent{
    border: 5px solid royalblue
    
}
.pos-float-child-1{
    background-color: brown;
    height: 100px;
    width: 33.3%;
    float: left;
}

.pos-float-child-2{
    background-color:darkblue;
    height: 100px;
    width: 33.3%;
    float: right;
}

.pos-float-child-3{
    background-color:darkorange;
    height: 50px;
    width: 100%;
}

.pos-float-child-4{
    background-color:green;
    height: 50px;
    width: 100%;
    clear:both
}

/* Overflow-gestion del desbordamiento del contenido */
[class^="overflow-parent"]{

    width:200px;
    height: 100px;
    border:3px dashed black;
    margin-bottom: 200px;
}

.overflow-parent-1{

    overflow:hidden

}
.overflow-parent-2{
    overflow:visible;
}
.overflow-parent-3{
    overflow:scroll
}

/*Tamaño de cajas*/
.box-sizing-parent-1{
    width: 200px;
    height: 200px;
    border:10px solid goldenrod;
}
.box-sizing-child{
    width: 100px;
    height: 50px;
    border:10px solid gray;
    border:10px solid darkolivegreen;

    box-sizing: content-box;
}
.border-box {
    margin-top:10px;
    box-sizing: border-box;
}