*{
    box-sizing: border-box; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.card {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr;    
height: 80vh;
width: 80vw;

}


.Image {
   background-image: url(image/equipo-trabajar-online-cafe.jpeg);
   background-size: cover;
   
}

.content  {
    display: block;
    margin-left: 60px;
    margin-top: 15%;
    
    
    
    

}

#emailInput{

    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 80%;
}

#passwordInput{
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 80%;
}

#button{
    width: 80%;
    background-color: rgb(115, 55, 170);
    color: white;
    border-radius: 5px;
    height: 40px;
}
.github{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 225, 225);
    height: 40px;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.github > a{

    text-decoration: none;
    color: black;
    margin-left: 10px;
    margin-bottom: 20px;
}

.twitter{
    background-color: rgb(235, 225, 225);
    height: 40px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-right: 50px;
}
.twitter > a{

    text-decoration: none;
    color: black;
    margin-left: 10px;
    margin-bottom: 20px;
}
a {
 display: block;
 text-decoration: none;
 color: rgb(133, 45, 141);
 margin-top: 20px;
}

.linea {
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(255, 245, 245);
height: 5px;
width: 30vw;
margin-top: 20px;

}
@media only screen and (max-width: 700px) {

.card {

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}

.Image {

    background-size: cover;
    height: 150%;
    width: 100%;
    
}

.content {
    
   text-align: start;
}

}




